<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='post grid.css') }}">
    
	{% if title %}
		<title>Shapeit.com - {{ title }} </title>
	{% else %}
		<title>Shapeit.com</title>
    {% endif %}
    
</head>


<div id="overlay" >
    <div id="menubar">
            <div id="menu">  </div>
                    <div id="menu_icons"> 
                        <div id="profile_icon_cont">
                            <div id="profile_icon"></div>
                        </div>
					</div>	
					<div id="more_info">

						<div id="item_view_bg">
						</div>

						<div id="item_view_cont">
							{% include 'test.html' %}
						</div>

					</div>				
	</div>

</div>
							

<body>
		<div class="Super_container">
			

		{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert={{ category }}"></div>
						{{ message }}
					{% endfor %}
				{% endif %}
		{% endwith %}
				
			{% block content %} 

		

			{% endblock content %}
	</div>
	<script src="{{url_for('static', filename='js/jquery-3.4.1.slim.min.js')}}" ></script>
	<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>

 </html>